/***************  style general  *******************/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    box-sizing: border-box;
    font-size: 14px;
}

a {
    color: grey
}

a:hover {
    color: black
}

:root {
    --color-deci-blue: #4C8FB0;
    --color-text-blue: #5CADD3;
    --color-text-white: white;
    --deco-grise: lightgrey;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
    font-weight: 900;
}

/****************  style header  *******************/

.nav_bar {
    margin: 0 120px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.link_nav {
    height: 100%;
    display: flex;
    align-items: center;
}


.link_nav li {
    display: flex;
    align-items: center;
    padding: 0 10px;
}


.link_nav li:hover {
    height: 100%;
    color: black;
    border-top: 3px solid var(--color-text-blue);

}

/*.link-nav a:hover {
    color: black;
    border-top: 3px solid ;
    padding-top: 40px;
}*/

.nav_logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 3.75rem;
}

/***********************section Accueil **********************/
.section_accueil {
    position: relative;
    /*background: url(../webagency_images/images/slider/bg1.jpg);*/
    height: 35.62rem;
    background-position: center;
    background-size: cover;
    margin-bottom: 1.87rem;
    /*animation: slidy 15s ease-in-out infinite;*/
}

.caroussel {
    position: relative;
    overflow: hidden;
    height: 36.62rem;
    width: 100%;
}

.caroussel_image {
    position: absolute;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation: slidy 20s ease-in-out infinite;
}


@keyframes slidy {
    0% {
        transform: translateX(0)
    }


    40% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(-100%)
    }

    90% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0);
    }

}

.image2 {
    left: 100%;
    animation-delay: 10s;
    animation: slidy 20s ease-in-out infinite;
}

.position_slogan {
    position: absolute;
    bottom: 0;
    width: 35%;
    color: var(--color-text-white);
    padding: 180px 180px;
}

.slogan h1 {
    top: 60px;
    position: absolute;
    font-size: 2.50rem;
    padding-bottom: 1.56rem;

}

.slogan span {
    color: var(--color-text-blue);
}

.btn_slogan {
    margin-top: 10px;
    padding: 10px 8px;
    color: white;
    border: none;
    background: var(--color-text-blue);
    width: 100px;
    border-radius: 5px 3px 3px 3px;
}

.btn_chevron {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_chevron button {
    top: 14.5rem;
    position: absolute;
    font-size: 1.2rem;
    width: 3.75rem;
    height: 6.25rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
}


.btn_chevron .btn_chevron-left {
    position: absolute;
    right: 0;
    border-radius: 80px 0 0 80px
}

.btn_chevron .btn_chevron-right {
    position: absolute;
    border-radius: 0 80px 80px 0;
    left: 0;
}

/******************Section Services****************/
.section_services {
    margin-top: 50px;
}

.bar_deco {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trait {
    display: block;
    width: 6.25rem;
    height: 3px;
    background: var(--deco-grise);
    margin: 0 5px;
}

.fa-circle {
    color: var(--color-text-blue);
}

.p_services {
    text-align: center;
    margin: 10px 0;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.image_services {
    width: 50%;
    text-align: end;
    padding: 0 30px 30px 0;
}

.main-feature {
    width: 60%;
}

.list_services {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 40px;
}

.list_service-column {
    display: flex;
}

.services_circle {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--deco-grise);

}

.services_circle :first-child {
    color: var(--color-text-blue);
    font-size: 20px;
}

.services_circle .fa-circle {
    position: absolute;
    animation-name: rotate;
    animation: rotate 2.5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translateX(30px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(30px) rotate(-360deg);
    }
}

.services_text {
    width: 50%;
    padding: 20px;
}

.services_text h3 {
    padding-bottom: 10px;
}

/*******************************section projets********************************************/


.section_projets {
    background: #f5f5f5;
    margin-top: 30px;
    padding-top: 50px;
    text-align: center;
}

.barnav_projets {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.btn_projets {
    font-size: 16px;
    background: var(--deco-grise);
    padding: 12px 17px;
    border: none;
    margin: 0;
}

.barnav_projets :first-child {
    border-radius: 5px 0 0 5px;
}

.barnav_projets :last-child {
    border-radius: 0 5px 5px 0;
}


.btn_projets:hover {
    background: var(--color-text-blue);
    box-shadow: 0px 5px 1px 0px var(--color-deci-blue);
    color: var(--color-text-white);
    position: relative;
    display: flex;
    justify-content: center;
}

.btn_projets:hover .arrow-down {
    display: block;
    position: absolute;
    top: 45px;
    width: 0;
    height: 0;

    border-right: 12px solid transparent;
    border-left: 12px solid transparent;

    border-top: 12px solid var(--color-deci-blue);
}

.portfolio {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.portfolio img {
    width: 319px;
}

figure {
    position: relative;

}

figcaption {
    opacity: 0;
    position: absolute;
    bottom: 0;
    background: rgba(41, 41, 41, 0.8);
    width: 95%;
    height: 30%;
    color: white;
    text-align: start;
    padding: 15px 0 0 15px;
}

.fa-eye {
    background: var(--color-text-blue);
    border-radius: 100%;
    border: 3px solid var(--color-text-white);
    height: 50px;
    width: 50px;
    position: absolute;
    top: -25px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

figcaption:hover {
    opacity: 1;
}

/*********************section contact**********************/
.contact {
    display: flex;
    position: relative;
    width: 100%;
    height: 650px;
    background-color: lightblue;
}

iframe {
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.formulaire {
    background-color: rgba(240, 245, 247, 0.8);
    position: absolute;
    width: 330px;
    right: 20%;
    height: 500px;
    margin-top: 60px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.formulaire h3 {
    margin: 10px 0;
}

.formulaire form {
    margin-top: 10px;

}

form input,
form textarea {
    width: 93%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

form textarea {
    height: 170px;
}

/********************************** THE END  ****************************************/